**/*.DS_Store
**/*.c
**/*.pyc
**/*.pyx
**/*.so
*.log*
*.md
.dockerignore
.env.example
.git
.gitignore
.gitlab-ci.yml
.gitlab
.github
.idea
.mypy_cache
__pycache__
docker-compose*.yml
media
.docker-entrypoint.sh
