[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools= "60.0.0"
django = "*"
psycopg2 = "*"
dj-database-url = "*"
django-rest-framework = "*"
drf-nested-routers = "*"
drf-yasg = "*"
gunicorn = "*"
whitenoise = "*"
django-storages = "*"
boto3 = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
sentry-sdk = "*"
celery = "*"
django-redis = "*"
pillow = "*"
redis = "*"
django-celery-beat = "*"
flower = "*"

[dev-packages]
pytest-django = "*"
mixer = "*"
mock = "*"

[requires]
python_version = "3.9"
